[run]
# Omit files outside the current working directory.
# Note: this means coverage must be run from the openfermion repo root.
# Failure to do so will result in false positives.
omit =
    ./profiling/performance_benchmarks.py
    ./dev_tools/*
