name: Continuous Integration

on: [pull_request]

jobs:
  format:
    name: Format check
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: '3.6'
          architecture: 'x64'
      - name: Install yapf
        run: cat dev_tools/conf/pip-list-dev-tools.txt | grep yapf | xargs pip install
      - name: Format
        run: check/format-incremental
  mypy:
    name: Type check
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: '3.6'
          architecture: 'x64'
      - name: Install mypy
        run: cat dev_tools/conf/pip-list-dev-tools.txt | grep mypy | xargs pip install
      - name: Type check
        run: check/mypy
  lint:
    name: Lint check
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: '3.6'
          architecture: 'x64'
      - name: Install pylint
        run: cat dev_tools/conf/pip-list-dev-tools.txt | grep "pylint\|astroid" | grep -v "#" | xargs pip install
      - name: Lint
        run: check/pylint
  pytest:
    name: Pytest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # On each operating system, check latest version of python and cirq
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ '3.9' ]
        cirq-version: [ '~=0.13.0' ]
        # Also check least-supported versions (linux only)
        include:
          - os: ubuntu-latest
            python-version: 3.8
            cirq-version: '~=0.12.0'
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install requirements
        run: |
          pip install -r dev_tools/conf/pip-list-dev-tools.txt
          pip install cirq-core${{matrix.cirq-version}} cirq-google${{matrix.cirq-version}} -r requirements.txt
      - name: Pytest check
        run: check/pytest
        shell: bash
  coverage:
    name: Coverage check
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: '3.6'
          architecture: 'x64'
      - name: Install requirements
        run: |
          pip install -r requirements.txt
          pip install -r dev_tools/conf/pip-list-dev-tools.txt
          git config --global user.name ${GITHUB_ACTOR}
      - name: Coverage check
        run: check/pytest-and-incremental-coverage --actually-quiet
